<!-- views/footer.ejs -->
<footer class="footer" style="background-color: #0d4e8f;"> <!-- Màu nền tùy chỉnh -->
    <div class="container">
        <p class="text-white text-center py-3">© 2024 Nguyễn Công Vân Thư đã đăng ký.</p> <!-- Màu chữ -->
    </div>
</footer>
